prestashop:
  container_name: hipay-professional-shop-ps16
  build: .
  ports:
    - "8085:80"
  links:
    - smtp
  env_file:
    - env
smtp:
  image: schickling/mailcatcher
  container_name: smtp-hipay-professional-ps16
  ports:
    - "1085:1080"
